<!-- Start of the Blog Section -->
<section class="blog">
    <div class="sub-container">
        <span class="tagline">BLOGS</span>
        <h2 class="sub-container-title">Insights and Innovations: Explore the SocketXP Blog</h2>
        <p class="sub-container-description">Stay updated with the latest trends, tips, and insights in IoT, remote device management, and smart solutions. Dive into expert articles and discover how SocketXP is driving innovation across industries.</p>
        <!-- <button class="bg-primary text-white px-3.5 py-2 rounded-md">View More</button> -->
    </div>
    <div class="blog-container">
        <article class="blog-card">
            <img src="/assets/images/blog-image-2.svg" alt="" class="w-full" loading="lazy">
            <div class="blog-content">
                <time>Dec 1, 2024</time>
                <p>How to Remote Access NGINX Web Server from the Internet</p>
                <button>Read More</button>
            </div>
        </article>
        <article class="blog-card">
            <img src="/assets/images/blog-image-2.svg" alt="" class="w-full" loading="lazy">
            <div class="blog-content">
                <time>Nov 19, 2024</time>
                <p>Mastering SSH - A Complete Guide to Secure Shell Protocol</p>
                <button>Read More</button>
            </div>
        </article>
        <article class="blog-card">
            <img src="/assets/images/blog-image-2.svg" alt="" class="w-full" loading="lazy">
            <div class="blog-content">
                <time>Nov 18, 2024</time>
                <p>How to Remote Access Ubuntu SSH Server over the Internet</p>
                <button>Read More</button>
            </div>
        </article>
    </div>
</section>
<!-- End of the Blog Section -->