<!-- Start of Client's Section -->
<section class="clients-banner">
    <div class="logos">
        <div class="logos-slide">
          <img src="/assets/images/aton-green-storage-logo.png" alt="" loading="lazy">
          <img src="/assets/images/client-2.png" alt="" loading="lazy">
          <img src="/assets/images/client-3.jpg" alt="" loading="lazy">
          <img src="/assets/images/client-4.svg" alt="" loading="lazy">
          <img src="/assets/images/client-5.svg" alt="" loading="lazy">
          <img src="/assets/images/client-6.png" alt="" loading="lazy">
          <img src="/assets/images/client-7.png" alt="" loading="lazy">
          <img src="/assets/images/client-8.png" alt="" loading="lazy">
          <img src="/assets/images/client-9.png" alt="" loading="lazy">
          <img src="/assets/images/client-10.svg" alt="" loading="lazy">
          <img src="/assets/images/client-11.png" alt="" loading="lazy">
          <img src="/assets/images/client-12.svg" alt="" loading="lazy">
          <img src="/assets/images/client-13.png" alt="" loading="lazy">
        </div>
      </div>
 </section>
<!-- End of Client's Section -->

