<!-- Start of Core Capabilities -->
<section class="core-capabilities">
    <div class="sub-container">
        <span class="tagline">CORE CAPABILITIES</span>
        <h2 class="sub-container-title">Comprehensive IoT Solutions Tailored for You</h2>
        <p class="sub-container-description">Explore a wide range of powerful features designed to simplify IoT management, enhance security, and automate your workflows effortlessly.</p>
    </div>
    <div class="core-capability-container">
        <div class="core-capability-card-1">
            <img src="/assets/images/device-management-image.svg" alt="" class="core-capability-image" loading="lazy">
            <div class="core-capability-content">
                <h4>Device Management</h4>
                <p>With a single pane of glass view, managing your IoT devices has never been easier or more efficient. Gain unparalleled control and visibility over your IoT ecosystem.</p>
                <button class="core-capability-button"><a href="/iot/remote-access-iot-ssh-over-the-internet">Learn More</a></button>
            </div>
        </div>
        <div class="core-capability-card-2">
            <img src="/assets/images/secure-remote-access.png" alt="" class="core-capability-image" loading="lazy">
            <div class="core-capability-content">
                <h4>Secure Remote Access</h4>
                <p>Gain instant, secure access to your IoT devices using SSH, VNC, RDP, and Public Web URLs. Quickly log in to your remote devices to debug and control them, all without the need to send technicians on-site.</p>
                <button class="core-capability-button"><a href="https://docs.socketxp.com/guide/iot-remote-desktop-vnc-access">Learn More</a></button>
            </div>
        </div>
        <div class="core-capability-card-1">
            <img src="/assets/images/iot-devops-automation.svg" alt="" class="core-capability-image" loading="lazy">
            <div class="core-capability-content">
                <h4>IoT DevOps Automation</h4>
                <p>Automate IoT DevOps workflows and continuously deploy new versions of your application software as OTA updates to your IoT and Edge Linux devices.</p>
                <button class="core-capability-button"><a href="https://docs.socketxp.com/guide/ota-update-remote-iot-devices">Learn More</a></button>
            </div>
        </div>
        <div class="core-capability-card-2">
            <img src="/assets/images/asset-tracking.svg" alt="" class="core-capability-image" loading="lazy">
            <div class="core-capability-content">
                <h4>Asset Tracking</h4>
                <p>Effortlessly monitor the live location of your remote IoT devices with our advanced IoT asset tracking solution. Visualize your devices on an interactive map, ensuring you can quickly and accurately track their positions.</p>
                <button class="core-capability-button"><a href="https://docs.socketxp.com/guide/iot-remote-web-server-access">Learn More</a></button>
            </div>
        </div>
        <div class="core-capability-card-1">
            <img src="/assets/images/iot-remote-monitoring-2.svg" alt="" class="core-capability-image" loading="lazy">
            <div class="core-capability-content">
                <h4>IoT Remote Monitoring</h4>
                <p>Offload monitoring your IoT devices to SocketXP and receive webhook notification alerts on Slack or any app when: the device status changes, the device's resource utilization exceeds a threshold, an error is logged into a device file, or a running process fails.</p>
                <button class="core-capability-button"><a href="https://docs.socketxp.com/guide/monitoring/device-monitoring">Learn More</a></button>
            </div>
        </div>
        <div class="core-capability-card-2">
            <img src="/assets/images/team-member-access.svg" alt="" class="core-capability-image" loading="lazy">
            <div class="core-capability-content">
                <h4>Team Member Access</h4>
                <p>Securely share your SocketXP account with team members, customers, and vendors. Use Role-Based Access Control (RBAC) to assign roles and permissions, ensuring streamlined collaboration and controlled access.</p>
                <button class="core-capability-button"><a href="/">Learn More</a></button>
            </div>
        </div>
    </div>
</section>
<!-- End of Core Capabilities -->