<!-- Start of Feature Section -->
<section class="feature">
    <div class="sub-container">
        <span class="tagline">FEATURES</span>
        <h2 class="sub-container-title">Empowering Your IoT Ecosystem</h2>
        <p class="sub-container-description">SocketXP offers secure, scalable, and intuitive solutions to simplify IoT device management and monitoring.</p>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-logo">
                <img src="/assets/images/zero-trust-security-icon-square.svg" alt="">
            </div>
            <h3>Zero Trust Security</h3>
            <p>Authenticate all devices and apps with mTLS certificates, private keys, and secure tokens.</p>
        </div>
        <div class="card">
            <div class="card-logo">
                <img src="/assets/images/sso-login-mfa-icon.svg" alt="">
            </div>
            <h3>SSO Login & MFA</h3>
            <p>Secure logins with Multi-Factor Authentication using SSO providers like Microsoft 365 & G Suite.</p>
        </div>
        <div class="card">
            <div class="card-logo">
                <img src="/assets/images/secure-endpoints-icons.svg" alt="">
            </div>
            <h3>Secure Endpoints</h3>
            <p>Data is SSL/TLS encrypted end-to-end, protecting against MITM attacks.</p>
        </div>
        <div class="card">
            <div class="card-logo">
                <img src="/assets/images/ip-whitelisting-icon.svg" alt="">
            </div>
            <h3>IP Whitelisting</h3>
            <p>Control access by allowing only trusted IP addresses to connect to your devices.</p>
        </div>
        <div class="card">
            <div class="card-logo">
                <img src="/assets/images/no-open-ports-icon.svg" alt="">
            </div>
            <h3>No Open Ports</h3>
            <p>Keep device ports hidden from hackers and scanners with a closed-port setup.</p>
        </div>
        <div class="card">
            <div class="card-logo">
                <img src="/assets/images/programmable-automation-icon.svg" alt="">
            </div>
            <h3>Programmability & Automation</h3>
            <p>Use REST APIs to integrate and automate workflows with ease.</p>
        </div>
    </div>
</section>
<!-- End of Feature Section -->