<section class="comparison large:px-[20%]">
    <div class="sub-container">
        <span class="dark-tagline">GPS AND GOOGLE GEO-LOCATION</span>
        <h2 class="dark-sub-container-title">Flexible IoT Asset Tracking with GPS or Google Geo-Location API</h2>
        <p class="dark-sub-container-description">SocketXP enables accurate asset tracking by relaying geographic coordinates from either a built-in GPS unit or Google’s Geo-Location API. Choose the solution that best fits your device capabilities and tracking needs.</p>
    </div>
    <div class="gps-google-container">
        <img src="/assets/images/iot-fleet-tracking-map-view.jpg" class="solutions-image" alt="">
        <div class="gps-google-content">
            <ul class="gps-google-content-ul">
                <li class="gps-google-content-li">SocketXP agent can relay your device or asset location based on the geographic co-ordinates provided by your built-in GPS unit.</li>
                <li class="gps-google-content-li">Alternatively, SocketXP agent can retrieve your asset's geographic location using the Google's Geo-Location API.</li>
            </ul>
        </div>
    </div>
</section>