<!-- Start of Hero Section -->
<section class="hero">
    <div class="hero-container">
        <h1 class="hero-title">{{ .Params.heroTitle }}</h1>
        <p class="hero-description">{{ .Params.heroDescription }}</p>
        <div class="hero-button-container">
            <a href="{{ .Params.primaryLink }}" class="hero-primary-button">{{ .Params.primaryLabel }}</a>
            <a href="{{ .Params.secondaryLink }}" class="hero-secondary-button">{{ .Params.secondaryLabel }}</a>
        </div>
    </div>
    <img src="/assets/images/dashboard-4.png" alt="SocketXP Dashboard" class="hero-image">
</section>
<!-- End of Hero Section -->