<section class="socketxp-iot-platform large:px-[20%]">
    <div class="sub-container">
        <span class="tagline">SocketXP IoT Device Platform</span>
        <h2 class="sub-container-title">Manage IoT Devices Seamlessly with SocketXP</h2>
        <p class="sub-container-description">SocketXP simplifies remote management, monitoring, and control of IoT and embedded Linux devices at massive scale. Whether devices are behind firewalls or connected to cellular networks, SocketXP makes remote access and updates effortless.</p>
    </div>
    <div class="iot-container">
        <img src="/assets/images/dashboard-3.svg" class="solutions-image" alt="">
        <div class="iot-solutions-content">
            <p>SocketXP is an IoT device management platform designed to remotely manage, monitor, access, and update IoT or embedded Linux devices at scale. It simplifies managing millions of devices, even those behind NAT routers, firewalls, or connected via Starlink, 4G, or 5G networks.</p>
            <ul>
                <li>Device Onboarding & Offboarding</li>
                <li>Remote Device Management</li>
                <li>Remote Monitoring</li>
                <li>Remote Access</li>
                <li>Remote Configuration</li>
                <li>Remote Debugging</li>
                <li>Remote Software Update (OTA)</li>
                <li>Remote Device Tracking</li>
                <li>Remote Troubleshooting</li>
            </ul>
        </div>
    </div>
</section>