<section class="iot-remote-access large:px-[20%]">
    <div class="sub-container">
        <span class="tagline">IOT REMOTE MONITORING SOLUTIONS</span>
        <h2 class="sub-container-title">Maximize IoT Uptime with Proactive Remote Monitoring</h2>
        <p class="sub-container-description">Ensure your IoT devices operate seamlessly with 24/7 remote monitoring. SocketXP empowers you with real-time visibility into device health, helping you detect and resolve issues proactively, reduce costs, and enhance overall performance and compliance.</p>
    </div>
    <div class="remote-monitoring-container">
        <img src="/assets/images/iot-remote-monitoring.jpg" alt="" class="solutions-image">
        <ul class="remote-monitoring-container-content">
            <li class="points">Automate IoT fleet monitoring and offload your team's workload</li>
            <li class="points">Identify and troubleshoot problems before they impact your business</li>
            <li class="points">Improve the performance and reliability of your IoT devices</li>
            <li class="points">Save money on maintenance and repairs</li>
            <li class="points">Comply with industry regulations</li>
        </ul>
    </div>
</section>