<section class="iot-device-monitoring large:px-[20%]">
    <div class="sub-container">
        <span class="tagline">IOT REMOTE ACCESS WITH RDP</span>
        <h2 class="sub-container-title">Seamless IoT Control with Remote Desktop Protocol (RDP)</h2>
        <p class="sub-container-description">Access your IoT's desktop environment remotely with ease. Manage files, run applications, and navigate a familiar interface from anywhere in the world.</p>
    </div>
    <div class="rdp-container">
        <div class="rdp-content-container">
            <img src="/assets/images/iot-remote-desktop-access-using-xrdp.png" class="solutions-image" alt="">
            <div class="rdp-content">
                <p>Take full control of your IoT devices remotely with Remote Desktop Protocol (RDP). Enjoy a seamless desktop experience, run applications, manage files, and navigate a user-friendly interface from anywhere in the world. With SocketXP's IoT Remote Desktop Access, you can say goodbye to command-line complexities and unlock the convenience of remote IoT management using xRDP.</p>
                <button class="hero-primary-button">Read More</button>
            </div>
        </div>
        <div class="rdp-box-container">
            <div class="rdp-box">
                <span class="icon">
                    <img src="/assets/icons/full-desktop-experience-icon.svg" class="size-10" alt="">
                </span>
                <div class="rdp-box-content">
                    <p class="rdp-box-content-heading">Full Desktop Experience Anywhere</p>
                    <p class="rdp-box-container-desc">Access your IoT desktop environment remotely to run applications and manage files with ease.</p>
                </div>
            </div>
            <div class="rdp-box">
                <span class="icon">
                    <img src="/assets/icons/user-friendly-control-icon.svg" class="size-10" alt="">
                </span>
                <div class="rdp-box-content">
                    <p class="rdp-box-content-heading">User-Friendly Control</p>
                    <p class="rdp-box-container-desc">Skip the command line and enjoy a familiar and intuitive desktop interface for managing your IoT.</p>
                </div>
            </div>
            <div class="rdp-box">
                <span class="icon">
                    <img src="/assets/icons/quick-setup-icon.svg" class="size-10" alt="">
                </span>
                <div class="rdp-box-content">
                    <p class="rdp-box-content-heading">Quick and Easy Setup</p>
                    <p class="rdp-box-container-desc">Set up remote IoT access with xRDP in minutes and start working smarter, wherever you are.</p>
                </div>
            </div>
        </div>
    </div>
</section>