<section class="comparison large:px-[20%]">
    <div class="sub-container">
        <span class="dark-tagline">IOT REMOTE COMMAND EXECUTION</span>
        <h2 class="dark-sub-container-title">Execute Commands and Scripts Remotely on Your IoT Devices</h2>
        <p class="dark-sub-container-description">
            Eliminate the hassle of SSH logins for simple tasks. With SocketXP's IoT Remote Command Execution, control and automate device operations effortlessly—whether for a single IoT or an entire fleet.
        </p>
    </div>
    <div class="iot-container">
        <img src="/assets/images/execute-remote-commands-multiple-linux-server.jpg" class="solutions-image" alt="">
        <div class="remote-command-container">
            <p class="remote-command-container-paragraph">Simplify Remote IoT Command Execution – Execute commands on single or multiple IoT devices without the hassle of SSH logins, ensuring efficiency and security.</p>
            <div class="remote-command-points-container">
                <div class="points-card">
                    <span class="icon">
                        <img src="/assets/icons/shield-with-lock-icon.svg" alt="" class="size-6 large:size-8">
                    </span>
                    <div class="points-content">
                        <h5 class="text-white">Secure & Seamless Integration</h5>
                        <p class="text-background">Protect data with HTTPS, SSL encryption, and access tokens while integrating effortlessly with your IoT dashboard.</p>
                    </div>
                </div>
                <div class="points-card">
                    <span class="icon">
                        <img src="/assets/icons/globe-icon.svg" alt="" class="size-6 large:size-8">
                    </span>
                    <div class="points-content">
                        <h5 class="text-white">Control IoT from Anywhere</h5>
                        <p class="text-background">Execute commands remotely, whether at home, in the office, or on the go, for ultimate convenience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>