<section class="{{ .class }} large:px-[20%]">
    <div class="sub-container">
        <span class="tagline">{{ .tagline }}</span>
        <h2 class="sub-container-title">{{ .title }}</h2>
        <p class="sub-container-description">{{ .description }}</p>
    </div>
    <div class="paragraph-container">
        <img src="{{ .image }}" alt="" class="solutions-image">
        <div class="paragraph-content">
            <p>{{ .content }}</p>
            <button class="hero-primary-button">{{ .button_text }}</button>
        </div>
    </div>
</section>