<!-- Start of Platform and OS Section -->
<section class="platform-and-os">
    <div class="sub-container">
        <span class="tagline">IOT DEVICE COMPATIBILITY</span>
        <h2 class="sub-container-title">Broad Compatibility Across Platforms and Operating Systems</h2>
        <p class="sub-container-description">SocketXP seamlessly integrates with a wide range of IoT hardware, software and operating systems. Ensure reliable performance across diverse environments with our lightweight and versatile solution.</p>
    </div>
    <div class="os-container">
        <img src="/assets/logos/windows-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/linux-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/apple_os-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/raspberry_pi-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/arduino-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/docker-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/debian_os-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/yacto-project-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/ubuntu_os-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/andriod-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/nvidia-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/openwrt-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/amd-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/beagle-board.svg" alt="" loading="lazy" class="beagle-board-image">
        <img src="/assets/logos/intel_os-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/mips-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/risc-v-logo.svg" alt="" loading="lazy">
        <img src="/assets/logos/ros-logo.svg" alt="" loading="lazy">
    </div>
</section>
<!-- End of Platform and OS Section -->