<section class="iot-device-monitoring large:px-[20%]">
    <div class="sub-container">
        <span class="tagline">Why SocketXP OTA Update</span>
        <h2 class="sub-container-title">Effortless & Secure OTA Updates with SocketXP</h2>
        <p class="sub-container-description">SocketXP OTA Update simplifies remote software deployment for IoT devices, ensuring secure, automated, and efficient updates with minimal downtime. Keep your devices running smoothly while reducing operational complexity.</p>
    </div>
    <div class="ota-update-container">
        <div class="ota-update-sub-container-1">
            <img src="/assets/images/why-socketxp-ota-update.svg" class="solutions-image" alt="">
            <div class="ota-update-points-container">
                <div class="points-card">
                    <div class="solutions-icon">
                        <img src="/assets/icons/increased-efficiency-icon.svg" alt="" class="size-6">
                    </div>
                    <div class="points-content">
                        <h5>Increased Efficiency</h5>
                        <p>Streamline your update processes and free up valuable IT resources for other critical tasks.</p>
                    </div>
                </div>
                <div class="points-card">
                    <span class="solutions-icon">
                        <img src="/assets/icons/reduce-downtime-icon.svg" alt="" class="size-6">
                    </span>
                    <div class="points-content">
                        <h5>Reduce Downtime</h5>
                        <p>Minimize disruptions to your operations with automated updates that happen in the background.</p>
                    </div>
                </div>
                <div class="points-card">
                    <span class="solutions-icon">
                        <img src="/assets/icons/simplified-management-icon.svg" alt="" class="size-6">
                    </span>
                    <div class="points-content">
                        <h5>Simplified Management</h5>
                        <p>Centrally manage and monitor updates for your entire device fleet from a single, intuitive console.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ota-update-sub-container-2">
            <div class="ota-update-points-card">
                <div class="solutions-icon w-fit">
                    <img src="/assets/icons/enhanced-security-icon.svg" alt="" class="size-6">
                </div>
                <div class="points-content">
                    <h5 class="points-content-heading">Enhanced Security</h5>
                    <p class="points-content-desc">All data transmitted to and from the SocketXP cloud gateway is encrypted using SSL/TLS, ensuring secure delivery of OTA updates. Encryption protects update files from potential eavesdropping and tampering.</p>
                </div>
            </div>
            <div class="ota-update-points-card">
                <div class="solutions-icon w-fit">
                    <img src="/assets/icons/simplify-operations-icon.svg" alt="" class="size-6">
                </div>
                <div class="points-content">
                    <h5 class="points-content-heading">Simplify Operations</h5>
                    <p class="points-content-desc">Quickly check performance and resolve issues remotely in real-time.SocketXP OTA Update can wirelessly update software on a fleet of devices with a single click of a button.</p>
                </div>
            </div>
            <div class="ota-update-points-card">
                <div class="solutions-icon w-fit">
                    <img src="/assets/icons/improved-reliability-icon.svg" alt="" class="size-6">
                </div>
                <div class="points-content">
                    <h5 class="points-content-heading">Improved Reliability</h5>
                    <p class="points-content-desc">Ensure consistent performance and stability across your devices with the latest software and bug fixes.</p>
                </div>
            </div>
        </div>
    </div>
</section>