<!-- Start of Statistics Section -->
<section class="statistics">
    <div class="sub-container">
        <span class="tagline">STATISTICS</span>
        <h2 class="sub-container-title">Reliable and Scalable Connectivity</h2>
        <p class="sub-container-description">SocketXP offers secure, scalable, and intuitive solutions to simplify IoT device management and monitoring.</p>
    </div>
    <div class="statistics-container">
        <img src="/assets/images/globe-image.svg" alt="" loading="lazy">
        <div class="stats-card-1">
            <span class="stats-number">7K+</span>
            <p class="stats-headline">Happy Users Worldwide</p>
        </div>
        <div class="stats-card-2">
            <span class="stats-number">137K+</span>
            <p class="stats-headline">Connected Devices</p>
        </div>
        <div class="stats-card-3">
            <span class="stats-number">48K+</span>
            <p class="stats-headline">Hours Of Service Rendered</p>
        </div>
        <div class="stats-card-4">
            <span class="stats-number">9.3M+</span>
            <p class="stats-headline">User & Device Activity Per Week</p>
        </div>
    </div>
</section>
<!-- End of Statistics Section -->