<!-- Start of Testimonial Section -->
<section class="testimonial large:px-[20%]">
    <div class="sub-container">
        <span class="tagline">TESTIMONIAL</span>
        <h2 class="sub-container-title">What Our Users Say</h2>
        <p class="sub-container-description">Hear from our satisfied customers about how SocketXP has transformed their IoT workflows with seamless connectivity, robust security, and unmatched reliability.</p>
    </div>
    <div class="splide" id="card-carousel">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
                <div class="testimonial-content">
                    <p class="text-base font-normal text-gray_color leading-snug md:text-sm xl:text-base">Thanks for your great service. SocketXP IoT Remote Access Solution works like a charm.</p>
                    <div class="review-info">
                        <p class="testimonial-name">Tobias</p>
                        <p class="testimonial-company">freshtaste.de</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="testimonial-content">
                    <p class="text-base font-normal text-gray_color leading-snug md:text-sm xl:text-base">SocketXP Remote SSH Access Solution is awesome. We could login, debug, re-configure any remote security systems 24x7 now.</p>
                    <div class="review-info">
                        <p class="testimonial-name">John Larson</p>
                        <p class="testimonial-company">Secure Alarm</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="testimonial-content">
                    <p class="text-base font-normal text-gray_color leading-snug md:text-sm xl:text-base">Thank you very much for accomodating our requests. I tried SocketXP and everything works fine. You are very responsive to customer needs.</p>
                    <div class="review-info">
                        <p class="testimonial-name">Silvia Garstea</p>
                        <p class="testimonial-company">cubedi.com</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="testimonial-content">
                    <p class="text-base font-normal text-gray_color leading-snug md:text-sm xl:text-base">Thanks for your great response times, support and accountability! I think this is the best support I have ever had! You literally put the Amazon guys to shame.</p>
                    <div class="review-info">
                        <p class="testimonial-name">Iain Millar</p>
                        <p class="testimonial-company">carleton.digital</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="testimonial-content">
                    <p class="text-base font-normal text-gray_color leading-snug md:text-sm xl:text-base">SocketXP IoT Remote Connect Solution helps pull realtime weather data from thousands of environmental sensors in the field in a cost-effective manner.</p>
                    <div class="review-info">
                        <p class="testimonial-name">Sara Wilson</p>
                        <p class="testimonial-company">Research Scholar</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="testimonial-content">
                    <p class="text-base font-normal text-gray_color leading-snug md:text-sm xl:text-base">We evaluated several options to replace our current IoT Device Management tool. After evaluating several of them, I found SocketXP and got surprised about how quick the setup was and how conveniently simple the platform is.</p>
                    <div class="review-info">
                        <p class="testimonial-name">José Fontalvo-Hernández</p>
                        <p class="testimonial-company">Volytica Diagnostics GmbH</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="testimonial-content">
                    <p class="text-base font-normal text-gray_color leading-snug md:text-sm xl:text-base">I really like your product, it helps a lot as a backup with managing our IoT sensors out in the field when our own software has a problem and we lose connection.</p>
                    <div class="review-info">
                        <p class="testimonial-name">Dennis R Drost</p>
                        <p class="testimonial-company">drowgoo.nl</p>
                    </div>
                </div>
            </li>
          </ul>
        </div>
      </div>
</section>
<!-- End of Testimonial Section -->