<section class="comparison large:px-[20%]">
    <div class="sub-container">
        <span class="dark-tagline">What is SocketXP OTA Update</span>
        <h2 class="dark-sub-container-title">SocketXP OTA Update – Effortless, Secure, and Scalable Software Deployment</h2>
        <p class="dark-sub-container-description">SocketXP OTA Update simplifies remote software updates for IoT and embedded devices. Deploy new features, bug fixes, and security patches seamlessly across your entire device fleet with automation, monitoring, and rollback capabilities.</p>
    </div>
    <div class="socketxp-ota-upate-container">
        <div class="socketxp-ota-update-sub-container-1">
            <img src="/assets/images/socketxp-ota-update.svg" class="solutions-image" alt="">
            <div class="ota-update-points-container">
                <div class="points-card">
                    <div class="solutions-icon">
                        <img src="/assets/icons/performance-icon.svg" alt="" class="size-6">
                    </div>
                    <div class="points-content">
                        <h5>Monitor Update Progress</h5>
                        <p>Track the progress of updates in real-time and receive notifications upon successful completion or any issues.</p>
                    </div>
                </div>
                <div class="points-card">
                    <span class="solutions-icon">
                        <img src="/assets/icons/rollback-update-icon.svg" alt="" class="size-6">
                    </span>
                    <div class="points-content">
                        <h5>Rollback Updates</h5>
                        <p>Easily revert to previous versions of the software if needed, ensuring business continuity.</p>
                    </div>
                </div>
                <div class="points-card">
                    <span class="solutions-icon">
                        <img src="/assets/icons/integration-icon.svg" alt="" class="size-6">
                    </span>
                    <div class="points-content">
                        <h5>Integrate with Existing Systems</h5>
                        <p>Seamlessly integrate with your existing infrastructure and workflows using SocketXP OTA Update APIs.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="socketxp-ota-update-sub-container-2">
            <div class="ota-update-points-card">
                <div class="solutions-icon w-fit">
                    <img src="/assets/icons/create-updates.svg" alt="" class="size-6">
                </div>
                <div class="points-content">
                    <h5 class="points-content-heading">Create and Distribute Updates</h5>
                    <p class="points-content-desc">Package and distribute software updates, including new features, bug fixes, security patches and configuration files, to your devices. Supports Docker container updates.</p>
                </div>
            </div>
            <div class="ota-update-points-card">
                <div class="solutions-icon w-fit">
                    <img src="/assets/icons/schedule-icon.svg" alt="" class="size-6">
                </div>
                <div class="points-content">
                    <h5 class="points-content-heading">Schedule and Automate Updates</h5>
                    <p class="points-content-desc">Define update schedules and automate software deployments, ensuring that devices receive updates without manual intervention. Reduce the risk of human error and ensure timely updates.</p>
                </div>
            </div>
        </div>
    </div>
</section>